* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
 

}



.list-item{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 2px solid rgb(216, 216, 216);
  cursor: pointer;
  margin-top: 20px;   
}

.nav{
  width: 100%;
  background: none;
  overflow: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 100px;
 
}

nav ul{
  padding: 0;
  margin: 20px;
  list-style-type: none;
  
}

nav ul li{
  float: left;
  margin-left: 500px;
  color: rgb(216, 216, 216);
}

.logo img{
  
  margin-top: 15px;
  
}

nav a{
  width: 100px;
  text-decoration: none;
  text-align: center;
}

.header-banner{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/hero-bg.jpg');
  background-size: cover; 
  box-sizing: border-box;
  background-position: center;
  height: 100vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; 

} 



.header-text{
  position: absolute;
  align-items: center; 
  text-align: center;
  justify-content: center;
  width: 100%;
  top:50%;
}

.header-banner h1 {
  font-size: 5.3rem; 
  text-transform: uppercase;
}

.header-banner span {
  color: #0180AA;
}

.header-banner p {
  font-size: 2em; 
  margin-top: 10px; 
  text-transform: uppercase;
  font-family: "sans-serif";
  font-weight: 100;
}

.buttons-container{
  margin-top: 20px;
  
}
.button1{
  color: white;
  background-color:  #0180AA;
  padding: 15px 25px 15px 25px;
  border-color:  #0180AA;
  cursor: pointer;
}
.button2{
  color: white;
  background-color: rgba(255, 255, 255, 0);;
  padding: 15px 25px 15px 25px;
  border-color: white;
  cursor: pointer;
}

