*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}



.header-banner {
    
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('images/hero-bg.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    text-align: center; 
    color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
   
  }

  .header-banner h1 {
    font-size: 5.3rem; 
    text-transform: uppercase;

  }

  .header-banner span{
    color:#0180AA;
  }

  .header-banner p {
    font-size: 2em; 
    margin-top: 10px; 
    text-transform: uppercase;
    font-family: "sans-serif";
    font-weight: 100;
  }